@import "../../utils.styl"

.login
    display: grid
    justify-items: center
    align-items: center
    grid-template-rows: 1fr
    grid-template-columns: 1fr
    min-height: calc(100vh - 64px - 4rem)

    .container
        padding: 2em 3em
        position: relative
        @extend .fancy-border

    .logo
        margin-bottom: 2em
        width: 120px
