@import "../../utils";

.login {
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    min-height: calc(100vh - 64px - 4rem);

    .container {
        padding: 2em 3em;
        position: relative;
    }

    .logo {
        margin-bottom: 2em;
        width: 120px;
        filter: drop-shadow(2px 2px 8px rgba(200, 200, 200, 1));
    }
    .input-container {
        width: 100%;
    }
}
