@import "../utils.styl"

.app
    background-color: var(--background)
    color: var(--font-color)
    width: 100%
    height: 100%
    @extend .theme-transition

    a.navigation-link
    a.navigation-link:active
    a.navigation-link:hover
    a.navigation-link:link
    a.navigation-link:visited
        color: var(--navigation-color)
        text-decoration: none
        margin: 0 0 0 2em

    .toolbar
        padding: 0 1em
