<div class="app" appTheme>
    <mat-toolbar color="primary" fxLayout="row" fxLayoutAlign="start center" class="toolbar">
        <h1>
            Confin
        </h1>
        <a routerLink="/login" class="navigation-link">Login</a>
        <a routerLink="/dashboard" class="navigation-link">Dashboard</a>
        <div fxFlex>
            <!-- spacer -->
        </div>
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Language selection">
            <mat-icon [svgIcon]="selectedFlag"></mat-icon>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="changeToGerman()">
                <mat-icon svgIcon="deFlag"></mat-icon>
                <span i18n>LANGUAGE_SELECTION_GERMAN</span>
            </button>
            <button mat-menu-item (click)="changeToEnglish()">
                <mat-icon svgIcon="enFlag"></mat-icon>
                <span i18n>LANGUAGE_SELECTION_ENGLISH</span>
            </button>
        </mat-menu>
        <mat-slide-toggle class="theme-slider" [checked]="isLightThemeActive" (change)="toggleTheme()"></mat-slide-toggle>
    </mat-toolbar>

    <router-outlet></router-outlet>
</div>
