section
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 2rem
    padding: 1.15rem
    max-width: 1400px
    margin: 0 auto

    mat-card
        cursor: pointer

    p
        text-align: right
