<section class="columns">
    <ng-template [ngIf]="areAccountsLoading">
        <emsi-card
            class="loading"
            [scaleHeight]="true"
            aria-label="loading placeholder"
            *ngFor="let e of [].constructor(2)"
        >
            <ng-container card-content>
                <span class="cdk-visually-hidden">Loading</span>
                <h2>&nbsp;</h2>
                <p>&nbsp;</p>
            </ng-container>
        </emsi-card>
    </ng-template>
    <emsi-card
        *ngFor="let account of accounts$ | async; let i = index;"
        [scaleHeight]="true"
        [clickable]="true"
        (click)="loadBookings(account.id)"
    >
        <ng-container card-title>{{account.name}}</ng-container>
        <ng-container card-content>
            <p [appColoredCurrency]="account.balance" aria-label="account balance">{{account.balance}}</p>
        </ng-container>
    </emsi-card>
    <emsi-card
        class="add-new"
        [scaleHeight]="true"
        [clickable]="false"
    >
        <ng-container card-content>
            <div fxLayout="row" fxLayoutAlign="center center">
                <p aria-label="card to add new account"><i i18n>DASHBOARD_ADD_NEW_ACCOUNT</i></p>
                <button mat-mini-fab color="primary" aria-label="Icon button to add new account">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </ng-container>
    </emsi-card>
</section>
<section #tableSection *ngIf="hasTableData">
    <ag-grid-angular
        #agGrid
        [className]="themeService.getActiveTheme().tableTheme"
        [rowData]="tableData | async"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
    >
    </ag-grid-angular>
    <button
        mat-fab
        color="primary"
        aria-label="Button to create a new booking entry for the current visible account"
        (click)="addBooking()"
    >
        <mat-icon>add</mat-icon>
    </button>
</section>
