@mixin background-loading-animation {
    @media only screen and (prefers-reduced-motion: no-preference) {
        background: linear-gradient(90deg,#ddda 40%,#fffa ,#ddda 60%) right/300% 100%;
        animation: shimmer 1s linear infinite
    }
}

.columns {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1em;
}

section {
    padding: 1.15rem;
    max-width: 1400px;
    margin: 0 auto;

    emsi-card.add-new {
        max-width: 500px;

        div {
            height: 100%;
        }
        p {
            margin-right: 12px;
        }
    }

    emsi-card.loading {
        max-width: 500px;
        cursor: progress;

        p {
            width: 120px;
            @include background-loading-animation;
        }
        h2 {
            width: 200px;
            @include background-loading-animation;
        }
    }

    p {
        text-align: right;
        margin: 0;
    }

    &:nth-child(2) {
        min-height: 500px;
        height: calc(100vh - 2 * 1.15rem - 64px);
        position: relative;
    }

    ag-grid-angular {
        height: 100%;
        width: 100%;
    }

    button[mat-fab] {
        position: absolute;
        bottom: 2.25rem;
        right: 2.25rem;
    }
}

@keyframes shimmer {
    to {
        background-position: left;
    }
}
