<section>
    <mat-card *ngFor="let account of accounts$ | async" class="mat-elevation-z3" (click)="loadBookings(account.id)">
        <mat-card-header>
            <mat-card-title>{{account.name}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <p [appColoredCurrency]="account.balance">{{account.balance}}</p>
        </mat-card-content>
    </mat-card>
</section>
<section #tableSection *ngIf="hasTableData">
    <ag-grid-angular
        #agGrid
        class="ag-theme-alpine"
        [rowData]="tableData | async"
        [columnDefs]="columnDefs"
        [defaultColDef]="defaultColDef"
    >
    </ag-grid-angular>
</section>
