section
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
    grid-gap: 1.5rem
    padding: 1.15rem
    max-width: 1400px
    margin: 0 auto

    mat-card
        cursor: pointer

    p
        text-align: right

    &:nth-child(2)
        min-height: 500px
        height: calc(100vh - 2 * 1.15rem)

    ag-grid-angular
        height: 100%
        width: 100%
