:root
    --background: #f6f7f9
    --font-color: #24292e
    --secondary-font-color: #666666
    --navigation-color: #ffffff
    --border-color: #009688
    --input-hover-border-color: #24292e

.mat-form-field-label
    color: var(--secondary-font-color)

.mat-form-field-appearance-outline .mat-form-field-outline-thick
    color: var(--input-hover-border-color)

/**
 * Theme Slider
 */
.theme-slider .mat-slide-toggle-thumb
    width: 26px
    height: 26px
    background-color: #30363D
.theme-slider .mat-slide-toggle-thumb-container
    width: 26px
    height: 26px

.theme-slider .mat-slide-toggle-thumb-container
    top: -6px

.theme-slider .mat-slide-toggle-thumb:before
    font-family: 'Material Icons'
    font-weight: normal
    font-style: normal
    line-height: 1
    letter-spacing: normal
    text-transform: none
    font-size: 22px
    width: 22px
    height: 22px
    content: 'dark_mode'
    color: #FCDF6B
    position: absolute
    top: 3px
    left: 2px

.theme-slider.mat-checked .mat-slide-toggle-thumb:before
    content: 'light_mode'
    color: #FFEA00;

.theme-slider.mat-checked .mat-slide-toggle-thumb
    background-color: #03A9F4

.theme-slider .mat-slide-toggle-bar
.theme-slider.mat-checked .mat-slide-toggle-bar
    background-color: rgba(0, 0, 0, 0.38)

.theme-slider.mat-checked .mat-ripple-element
    background-color: black
