@use '~@angular/material' as mat;

:root {
    --background: #f6f7f9;
    --font-color: #24292e;
    --secondary-font-color: #666666;
    --navigation-color: #ffffff;
    --border-color: #009688;
    --input-hover-border-color: #24292e;
    --home-image: url("assets/home-bright.jpg");
    --home-shadow: linear-gradient(
        0deg,
        hsla(0, 0%, 35.29%, 0) 0%,
        hsla(0, 0%, 34.53%, 0.034375) 16.36%,
        hsla(0, 0%, 32.42%, 0.125) 33.34%,
        hsla(0, 0%, 29.18%, 0.253125) 50.1%,
        hsla(0, 0%, 24.96%, 0.4) 65.75%,
        hsla(0, 0%, 19.85%, 0.546875) 79.43%,
        hsla(0, 0%, 13.95%, 0.675) 90.28%,
        hsla(0, 0%, 7.32%, 0.765625) 97.43%,
        hsla(0, 0%, 0%, 0.8) 100%
    );
    --home-text-color: #fff;
    --home-text-color-shadow: 0 0 6px rgba(255,255,255,0.7);
    --elevation-light: 0 2px 4px -1px #00000029, 0 4px 5px #0000001d, 0 1px 10px #00000018;
    --elevation-heavy: 0 5px 5px -3px #00000029, 0 8px 10px 1px #0000001d, 0 3px 14px 2px #00000018;
    --ripple-color: rgba(36, 41 ,46, 0.3);
}

/**
 * Theme Slider
 */
.theme-slider .mat-slide-toggle-thumb {
    width: 26px;
    height: 26px;
    background-color: #30363D;
}
.theme-slider .mat-slide-toggle-thumb-container {
    width: 26px;
    height: 26px;
}

.theme-slider .mat-slide-toggle-thumb-container {
    top: -6px;
}

.theme-slider .mat-slide-toggle-thumb:before {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    font-size: 22px;
    width: 22px;
    height: 22px;
    content: 'dark_mode';
    color: #FCDF6B;
    position: absolute;
    top: 3px;
    left: 2px;
}

.theme-slider.mat-checked .mat-slide-toggle-thumb:before {
    content: 'light_mode';
    color: #FFEA00;
}

.theme-slider.mat-checked .mat-slide-toggle-thumb {
    background-color: #03A9F4;
}

.theme-slider .mat-slide-toggle-bar,
.theme-slider.mat-checked .mat-slide-toggle-bar {
    background-color: rgba(0, 0, 0, 0.38);
}

.theme-slider.mat-checked .mat-ripple-element {
    background-color: black;
}

// Angular Material Button overwrites

.mat-stroked-button:not(.mat-button-disabled) {
    border-color: var(--border-color);
}
.mat-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay, .mat-stroked-button:hover:not(.mat-button-disabled) .mat-button-focus-overlay {
    opacity: 0.2 !important;
}
.mat-button.mat-primary, .mat-icon-button.mat-primary, .mat-stroked-button.mat-primary {
    text-shadow: 0 0 4px rgba(195, 195, 195, 0.3);
}
