<section class="main" #main>
    <div>
        <a routerLink="/login" i18n>HOME_LOGIN_LABEL</a>
        <a routerLink="/login" i18n>HOME_SIGN_UP_LABEL</a>
    </div>
</section>

<section class="intro" #intro>
    <h1><mark>con</mark>trol your <mark>fin</mark>ances</h1>
    <p>the right way</p>
</section>

<section class="benefits" #benefits>
    <emsi-card [scaleHeight]="true">
        <ng-container card-title i18n>HOME_BENEFITS_EASY_TITLE</ng-container>
        <ng-container card-content><p i18n>HOME_BENEFITS_EASY_DESCRIPTION</p></ng-container>
    </emsi-card>
    <emsi-card [scaleHeight]="true">
        <ng-container card-title i18n>HOME_BENEFITS_CATEGORIES_TITLE</ng-container>
        <ng-container card-content><p i18n>HOME_BENEFITS_CATEGORIES_DESCRIPTION</p></ng-container>
    </emsi-card>
    <emsi-card [scaleHeight]="true">
        <ng-container card-title i18n>HOME_BENEFITS_BUDGET_PLAN_TITLE</ng-container>
        <ng-container card-content><p i18n>HOME_BENEFITS_BUDGET_PLAN_DESCRIPTION</p></ng-container>
    </emsi-card>
    <emsi-card [scaleHeight]="true">
        <ng-container card-title i18n>HOME_BENEFITS_AVAILABILITY_TITLE</ng-container>
        <ng-container card-content><p i18n>HOME_BENEFITS_AVAILABILITY_DESCRIPTION</p></ng-container>
    </emsi-card>
</section>
