@import "../../utils";

.main {
    position: relative;
    background-image: var(--home-image);
    background-repeat: no-repeat;
    background-size: cover;
    aspect-ratio: 2048 / 1792;
    @extend .theme-transition;

    @media only screen and (min-width: 1500px) {
        background-position: center;
        background-size: cover;
        height: 100vh;
        aspect-ratio: auto;
    }

    @media only screen and (min-width: 2049px) {
        background-size: contain;
    }

    &:before {
        background-image: var(--home-shadow);
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: calc(100%);
    }

    div {
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 15%;
        width: 400px;
        text-align: center;
    }

    a,
    a:active,
    a:hover,
    a:link,
    a:visited {
        position: relative;
        text-decoration: none;
        color: var(--home-text-color);
        text-shadow: var(--home-text-color-shadow);
        font-size: 2rem;
    }

    a:first-child {
        margin-right: 1rem;
        padding-right: 1rem;
        border-right: 1px solid var(--home-text-color);
    }

    a::before {
        content: "";;
        position: absolute;
        left: 0;
        bottom: -0.3rem;
        width: 0;
        height: 0.6rem;
        transform: skew(-36deg) translate(-10%);
        background-color: var(--border-color);
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
    }

    a:hover::before {
        width: 50px;
    }
}

.intro {
    margin: 4rem 0;
    text-align: center;

    h1 {
        font-size: 5rem;
        line-height: 5rem;
        letter-spacing: 1px;
    }
    p {
        font-size: 2rem;
        line-height: 2rem;
        font-style: italic;
    }
}

.benefits {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 3em;
    text-align: center;

    emsi-card {
        background: var(--background);
    }

    h2 {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 1px;
    }
    p {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    mat-icon {
        $size: 5rem;
        font-size: $size;
        width: $size;
        height: $size;
        color: var(----font-color);
        opacity: 0.6;
        margin-bottom: 0.7rem;
    }
}

.sample-screenshots {
    overflow: hidden;

    .img-wrapper {
        width: 100%;
        aspect-ratio: 16/9;
        display: flex;
        overflow: hidden;
        border: 4px solid var(--border-color);
    }

    .img-expand-animation-wrapper {
        width: 33%;
        transition: width 0.5s ease-in-out;
    }

    .img-container {
        width: 300%;
        transform: skew(-20deg);
        height: 100%;
        overflow: hidden;
        transition: all 0.5s ease-in-out;

        &::before {
            content: "";
            transform: skewX(20deg);
            background-repeat: no-repeat;
            background-position: top left;

            position: absolute;
            transform-origin: bottom left;
            width: 2000px; /* something ridiculously big */
            height: 2000px;
        }

        &--image-1 {
            transform: skew(-20deg) translateX(-11%);

            &.hover-index-3 {
                transform: skewX(-20deg) translateX(-10%);
            }

            &::before {
                background-image: url("/assets/home-dark.jpg");
            }
        }
        &--image-2 {
            border-left: 12px solid var(--border-color);

            &.hover-index-1 {
                transform: skewX(-20deg) translateX(40%);
            }
            &.hover-index-2 {
                transform: skewX(-20deg) translateX(-20%);
            }
            &.hover-index-3 {
                transform: skewX(-20deg) translateX(-20%);
            }
            &::before {
                background-image: url("/assets/home-bright.jpg");
            }
        }
        &--image-3 {
            border-left: 12px solid var(--border-color);

            &.hover-index-2,
            &.hover-index-1 {
                transform: skewX(-20deg) translateX(20%);
            }
            &.hover-index-3 {
                transform: skewX(-20deg) translateX(-40%);
            }
            &::before {
                background-image: url("/assets/home-dark.jpg");
            }
        }
    }
}

.try-demo {
    --svg-sneak-background: var(--background);

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 3em;
    align-items: center;
    text-align: center;

    h2 {
        font-size: 2rem;
        line-height: 2rem;
        letter-spacing: 1px;
    }
    p {
        font-size: 1.3em;
        line-height: 1.3em;
    }

    mat-icon {
        width: 100%;
        height: 100%;
    }
}

.max-width-section {
    margin: 4rem auto;
    padding: 1rem;
    max-width: 1200px;
}

mark {
    color: #CE5F5B;
    background: none;
}
